* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  overflow-y: scroll;
}

:root {
  --color-one: #21263b;
  --color-two: #FF5733;
  --color-three: #FFBD33;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-grey-one: #dbe1e8;
  --color-grey-two: #b2becd;
  --color-grey-three: #6c7983;
  --color-grey-four: #454e56;
  --color-grey-five: #2a2e35;
  --color-grey-six: #12181b;
  --br-sm-2: 14px;
  --fade: all .3s ease-in-out;
  --shadow-one: 0 3px 15px rgba(0,0,0,0.3);
}

li {
  display: inline-block;
}

body {
  background-color: var(--color-one);
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.3s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  z-index: 100;
  position: fixed;
  top: 0.2rem;
  left: 0.5rem;
  height: 15vh;
  color: var(--color-white);
  overflow: hidden;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

footer {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  padding-right: 1rem;
  width: 100%;
}

.social-icons {
  float: right;
}

.fa {
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}
.fa:hover {
  transform: translate(0px, -5px);
}

button {
  background-color: transparent;
  color: white;
  border: none;
}

section {
  min-height: 100vh;
  width: 100%;
  padding: 3rem 3rem;
  position: absolute;
  left: 0;
  top: 0;
}

h2 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  transform: translateY(-100%) scale(0);
  background-color: var(--color-one);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 0.9s ease-in-out;
          animation: scaleAnim 0.9s ease-in-out;
}
@-webkit-keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controls {
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 4%;
  z-index: 10;
}
.controls .active-button {
  background-color: var(--color-two) !important;
}
.controls .active-button i {
  color: var(--color-white) !important;
}
.controls .control {
  background-color: var(--color-grey-three);
  padding: 1rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  box-shadow: var(--shadow-one);
}
.controls .control i {
  font-size: 1.2rem;
  color: var(--color-grey-one);
  pointer-events: none;
}
.controls .control:hover {
  transform: translate(-5px);
}

.home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}
.home-content .home-left {
  display: flex;
  align-items: center;
  position: relative;
}
.home-content .home-left .shape-h {
  transition: var(--fade);
  width: 80%;
  height: 100%;
  background-color: var(--color-three);
  left: 0;
  top: 0;
  z-index: -1;
}
.home-content .home-left .image {
  border-radius: var(--br-sm-2);
}
.home-content .home-left .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(90deg);
}
.home-content .home-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-content .home-right .name {
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}
.home-content .home-right .name span {
  color: var(--color-two);
}
.home-content .home-right p {
  color: var(--color-grey-two);
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.title-main {
  text-align: center;
}
.title-main h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
.title-main h2 span {
  color: var(--color-two);
}
.title-main h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-four);
  transform: var(--fade);
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6rem;
}

.aboutContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  padding-left: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}
.aboutContainer .aboutLeft {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  padding-right: 1rem;
}
.aboutContainer .aboutLeft .aboutItem {
  border: 1px solid var(--color-grey-three);
  border-radius: 5px;
  transition: var(--fade);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.aboutContainer .aboutLeft .aboutItem:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-two);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.3);
}
.aboutContainer .aboutLeft .aboutItem .aboutText {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.aboutContainer .aboutLeft .aboutItem .aboutText .largeText {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-two);
}
.aboutContainer .aboutLeft .aboutItem .aboutText .smallText {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: var(--color-grey-two);
}
.aboutContainer .aboutLeft .aboutItem .aboutText .smallText::before {
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-grey-three);
}
.aboutContainer .aboutRight p {
  color: var(--color-grey-two);
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
.aboutContainer .aboutRight h4 {
  align-items: center;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.resumeContainer {
  display: flex;
  justify-content: center;
  padding-left: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}/*# sourceMappingURL=styles.css.map */